body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:20px;
}

.container{
    max-width:700px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    padding:10px 20px;
    cursor:pointer;
    margin:10px 0;
}

.contact{
    border:1px solid #ddd;
    padding:10px;
    margin-top:10px;
    border-radius:5px;
}